<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Nick</th>
      <th>Fb link</th>
      <th>Insta link</th>
      <th>Lnk link</th>
      <th>Bio</th>
      <th>Rol</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.nick %></td>
        <td><%= member.fb_link %></td>
        <td><%= member.insta_link %></td>
        <td><%= member.lnk_link %></td>
        <td><%= member.bio %></td>
        <td><%= member.rol %></td>
        <td><%= member.age %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
